*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#header{
    width: 100%;
    height: 90px;
    background-color: white;
    border-bottom: 1px solid rgb(225, 225, 225);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

#sign-out{
    background-color: white;
    border: 0px;
    font-size: 18px;
    font-weight: bold;
    transform: scaleY(1.1);
}

#sign-out:hover{
    text-decoration: underline;
}

#bdy{
    background-color: rgb(255, 255, 255);
    width: 22%;
    margin: auto;
    text-align: center;
    margin-top: 90px;
}

li{
    padding-left: 30px;
    display: flex;
    gap: 8px;
    margin-top: 20px;
}

#bttn{
    width: 100%;
    background-color: red;
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 18px;
    margin-top: 50px;
    font-size: 24px;
    transform: scaleX(1);
}

#bttn:hover{
    background-color: rgb(252, 43, 43);
}