*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html, body{
    user-select: none;
    height: 100%;
    width: 100%;
}

#first{
    height: 700px;
    width: 100%;
    background-image:radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)), url("https://miro.medium.com/v2/resize:fit:1400/1*5lyavS59mazOFnb55Z6znQ.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 8px solid rgb(50, 50, 50);
}

#header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 200px;
    padding-left: 180px;
    padding-top: -20px;
}

#language{
    color: rgb(255, 255, 255);
    background-color: rgb(24, 24, 24);opacity: 0.7;;
    padding: 7px 15px;
    padding-left: 20px;
    border: 1px solid rgb(116, 116, 116);
    border-radius: 4px;
    margin-right: 10px;
}

.login{
    background-color: red;
    color: white;
    border: 0px solid black;
    border-radius: 4px;
    padding: 7px 15px;
    font-weight: 550;
    transform: scaleY(1.1);
}

.login:hover{
    background-color: rgb(170, 6, 6);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

#center{
    margin-top: 200px;
    width: 100%;
    height: 600px;
    text-align: center;
}

#search{
    width: 32.3%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 33.9%;
}

::placeholder{
    color: rgb(249, 245, 245);
    font-size: 16px;
}

#bar{
    color: rgb(255, 255, 255);
    background-color: rgb(24, 24, 24);opacity: 0.7;;
    padding: 17px 0px;
    padding-right: 50px;
    padding-left: 15px;
    border: 1px solid rgb(160, 159, 159);
    border-radius: 5px;
}

#get-started{
    font-size: 20px;
    font-weight: 600;
    transform: scaleY(1.1);
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: 0px;
    border-radius: 5px;
}

#get-started:hover{
    background-color: rgb(170, 6, 6);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

#second{
    height: 650px;
    width: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 8px solid rgb(50, 50, 50);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}

#left-txt-up{
    color: white;
    font-size:50px;
    font-weight: 900;
}

#left-txt-down{
    margin-top: 20px;
    color: white;
    font-size: 25px;
}

#third{
    height: 650px;
    width: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 8px solid rgb(50, 50, 50);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 200px;
}

#right-txt-up{
    color: white;
    font-size:50px;
    font-weight: 900;
}

#right-txt-down{
    margin-top: 20px;
    color: white;
    font-size: 25px;
}

#left-box{
    height: 100px;
    width: 370px;
    background-color: black;
    border: 2px solid rgb(92, 92, 92);
    border-radius: 10px;
    transform: translate(37%, -140%);
    align-items: center;
    padding-top: 7px;
    padding-left: 10px;
}

#st{
    color: white;
    font-size: 20px;
}

#downloading{
    color: rgb(32, 32, 211);
    font-size: 15px;
}

#fourth{
    height: 650px;
    width: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 8px solid rgb(50, 50, 50);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}

#frt-txt-up{
    color: white;
    font-size: 50px;
}

#frt-txt-down{
    margin-top: 10px;
    color: white;
    font-size: 25px;
}

#fifth{
    height: 650px;
    width: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 8px solid rgb(50, 50, 50);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}

#fifth-txt-up{
    color: white;
    font-size: 50px;
}

#fifth-txt-down{
    margin-top: 10px;
    color: white;
    font-size: 25px;
}

#sixth{
    height: 100%;
    width: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 200px;
}

#sixth-up{
    font-size: 25px;    
    text-align: center;
}

#sixth-mid{
    margin-top: 30px;
    text-align: left;
}

li{
    font-size: 25px;
    background-color: rgb(46, 46, 46);
    margin-top: 9px;
    padding: 25px;
    padding-left: 30px;
}

#sixth-mid div{
    font-size: 25px;
    background-color: rgb(46, 46, 46);
    margin-top: 1px;
    padding: 25px;
    padding-left: 30px;
    display: none;
}

li:hover{
    background-color: rgb(81, 80, 80);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

#sixth-down{
    width: 35%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 28.5%;
    gap: 7px;
}

#bar-f{
    color: rgb(255, 255, 255);
    background-color: rgb(24, 24, 24);opacity: 0.7;;
    padding: 17px 0px;
    padding-right: 50px;
    padding-left: 15px;
    border: 1px solid rgb(160, 159, 159);
    border-radius: 5px;
}

#get-started-f{
    width: 178px;
    font-size: 20px;
    font-weight: 600;
    transform: scaleY(1.1);
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: 0px;
    border-radius: 5px;
}

#get-started-f:hover{
    background-color: rgb(170, 6, 6);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}